@keyframes cadre-president {
    0% {
      width: 40%;
      height: 200px;
    }
    100% {
      width: 70%;
      height: 650px;
    }
}
@keyframes cadre-article {
    0% {
      width: 40%;
    }
    100% {
      width: 70%;
    }
}
@keyframes loader-text {
    0% {
        opacity: 0;
    }
    95% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes loader-text2 {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
    }
    80% {
        width: 40%;
        min-width: 380px;
        height: auto;
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}
.actu-club {
    animation: defilement 400ms both;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5vh 0;
}
.article-president {
    width: 40%;
    margin: 2vh auto;
    text-align: justify;
    background-color: var(--tertiaire-color);
    padding: 2em 1.5em;
    display: flex;
    flex-direction: column;
    border-radius: 70px 0px 70px 0px;
}
.article-president:hover {
    animation: cadre-president 450ms ease-in-out;
    width: 70%;
}
.p-p {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    width: 1px;
    line-height: 30px;
    padding: 0 4vw;
    font-size: 1.2em;
    margin: 0.3em 0;
}
.pp9, .pp10 {
    color: var(--primaire-color);
    font-weight: bold;
}
.article-president:hover .p-p {
    animation: loader-text 450ms ease-in-out;
    height: auto;
    overflow: initial;
    position: initial;
    width: auto;
}
h3 {
    font-size: 2em;
    color: var(--primaire-color);
    font-weight: bold;
    margin: auto auto 3vh auto;
    width: min-content;
}
.article-actualites {
    margin: 2vh auto;
    width: 40%;
    align-items: center;
    background-color: var(--tertiaire-color);
    padding: 0 1.5em;
    display: flex;
    justify-content: center;
    border-radius: 70px 0px 70px 0px;
}
.article-actualites:hover {
    animation: cadre-article 450ms ease-in-out;
    width: 70%;
    justify-content: space-between;
}
.bloc-titre {
    width: 40%;
    min-width: 380px;
    padding: 2vh 2vw;
}
.contenu-actu {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    width: 1px;
    padding: 1vh 2vw;
    text-align: justify;
    font-size: 1.2em;
}
.article-actualites:hover .contenu-actu {
    animation: loader-text 450ms ease-in-out;
    height: auto;
    overflow: initial;
    position: initial;
    width: auto;
}
.bloc-contenu {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    width: 1px;
}
.article-actualites:hover .bloc-contenu {
    animation: loader-text2 400ms ease-in-out;
    width: 40%;
    min-width: 380px;
    padding: 2vh 2vw;
    height: auto;
    overflow: initial;
    position: initial;
}
.liste-reprise {
    padding: 0;
}
.puce-reprise {
    list-style-type: disclosure-closed;
    list-style-position: inside;
    padding: 1vh 2vw;
    text-align: justify;
    font-size: 1.1em;
}
.titre-liste {
    margin-left: 2vw;
    font-size: 1.3em;
    color: var(--primaire-color);
    font-weight: bold;
}