:root {
    --primaire-color: #B10101;
    --secondaire-color: #181818;
    --tertiaire-color:  #F9F9F9;
    --quaternaire-color: #EDC73E;
    --font-color: #000;
    --background-color: linear-gradient(to bottom, #181818 0%, #ED2527 50%, #F9F9F9 100%);
}
@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
@keyframes transition {
    0% {
        transform: translateX(-150vw);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes loader {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes defilement {
    0% {
        transform: translateY(150vw);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes size {
    0% {
        height: 490px;
    }
    100% {
        height: 670px;
    }
}
@keyframes nav-box {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
    }
    50% {
        width: auto;
        height: auto;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@font-face {
    font-family: "j.d";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/jd/j.d.ttf");
}
* {
    font-family: 'Rubik', 'sans-serif';
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--secondaire-color);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0em 0em 0.3em 0em var(--tertiaire-color);
}
::-webkit-scrollbar-track {
    background: var(--background-color);
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px var(--secondaire-color);
}
body {
    margin: 0;
}
header {
    background-color: var(--secondaire-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 42vh;
}
.cadre-titre {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 32.5vh;
}
.logo-jcf {
    margin-left: 5vw;
    height: 71%;
    width: 10%;
}
.titre {
    display: flex;
    align-self: center;
    justify-content: center;
    font-family: 'j.d', 'sans-serif';
    width: 50%;
    font-size: 8vh;
    letter-spacing: 0.3em;
    text-align: center;
    margin: 2vh 0 0 0;
    line-height: 12vh;
    color: var(--tertiaire-color);
}
.logo-ffjda {
    margin-right: 3vw;
    height: 60%;
    width: 10%;
}
nav {
    margin: 3vh 0;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4vh;
}
.naviguation {
    text-decoration: none;
    color: var(--tertiaire-color);
    font-weight: bold;
    border: 2px solid var(--tertiaire-color);
    border-radius: 20px 0px 20px 0px;
    margin: auto 0.3vw;
    text-align: center;
    cursor: pointer;
    padding: 0.5vh 0;
    z-index: 10;

}
.naviguation:hover {
    background-color: var(--primaire-color);
    border: 2px solid var(--quaternaire-color);
}
.page-active {
    background-color: var(--primaire-color);
    border: 2px solid var(--quaternaire-color);
    color: var(--quaternaire-color);
}
.lien-nav {
    text-decoration: none;
    color: var(--tertiaire-color);
    padding: 0 0.5vw;
    font-size: 1.25em;
}
.naviguation:hover .lien-nav {
    color: var(--quaternaire-color);
}
.lien-actif {
    color: var(--quaternaire-color);
    text-decoration: none;
    padding: 0 0.5vw;
    font-size: 1.25em;
}
.nav-rapide {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    width: 1px;
    text-align: start;
    padding: 1vh 0;
}
.naviguation:hover .nav-rapide {
    animation: nav-box 400ms ease-in-out;
    height: auto;
    width: auto;
    position: initial;
    overflow: visible;
}
.nav-rapide:hover {
    height: auto;
    width: auto;
    position: initial;
    overflow: visible;
}
.lien-rapide {
    text-decoration: none;
    color: var(--tertiaire-color);
    display: block;
    padding: 1vh 0.5vw;
    font-size: 1.20em;
    max-width: 12vw;
    word-wrap: break-word;
}
.lien-rapide:hover {
    color: var(--quaternaire-color);
}
main {
    background: var(--background-color);
}
.principal-content {
    margin: 0 3%;
}
.section-principal {
    padding-bottom: 4em;
}
.titre-section {
    animation: transition 200ms both;
    color: var(--tertiaire-color);
    margin: auto;
    font-size: 2em;
    padding: 8vh 0vw 3vh 2vw;
}
#wrap {
    animation: defilement 400ms both;
    text-align: center;
    width: 950px;
    margin: 0 auto;
    padding: 2em;
    background-color: var(--tertiaire-color);
    border-radius: 70px 0 70px 0;
    }

#external-events {
    float: left;
    width: 150px;
    padding: 0 10px;
    text-align: left;
    }

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
    }

.external-event { /* try to mimick the look of a real event */
    margin: 10px 0;
    padding: 2px 4px;
    background: #3366CC;
    color: #fff;
    font-size: .85em;
    cursor: pointer;
    }

#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
    }

#external-events p input {
    margin: 0;
    vertical-align: middle;
    }

#calendar {
/* 		float: right; */
    margin: 0 auto;
    width: 900px;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 1px 2px #C3C3C3;
    border: 10px outset var(--primaire-color);
}
footer {
    background-color: var(--tertiaire-color);
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.liens-off {
    height: 15vh;
    display: flex;
    align-items: center;
}
.social {
    padding: 0 0.5vw;
    cursor: pointer;
}
.logo-lien-footer {
    height: 10vh;
    border-radius: 10px 0px 10px 0px;
    background-color: transparent;
}
.logo-lien-footer:hover {
    box-shadow: 3px 3px 5px 3px var(--quaternaire-color);
}
.moselle {
    height: 10vh;
    border-radius: 10px 0px 10px 0px;
    border: 1px inset #019838;
    background-color: transparent;
}
.moselle:hover {
    box-shadow: 3px 3px 5px 3px var(--quaternaire-color);
}
.liste-contact {
    color: var(--secondaire-color);
    font-size: 1.2em;
    list-style-type: disclosure-closed;
    list-style-position: inside;
}
.contact-form {
    text-decoration: none;
    color: var(--secondaire-color);
}
.contact-form:hover, .contact:hover {
    color: var(--primaire-color);
}
.icone-contact {
    padding: 0 0.5em 0 1em;
    font-size: 1.1em;
}
.icone-partenaire {
    padding: 0 0.5em 0 1em;
}