.tableau-categorie {
    animation: defilement 400ms both;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5vh 1em;
    border-radius: 70px 0px 70px 0px;
    padding: 5vh 10em;
    background-color: var(--tertiaire-color);
}
.titre-tableau {
    color: var(--primaire-color);
    font-size: 2em;
    padding-left: 1vw;
}
.texte-categorie {
    font-size: 1.3em;
    text-indent: 1vw;
    line-height: 1.3em;
    padding: 0 5vw;
    text-align: justify;
}
.article-cat {
    width: 100%;
}
div.cat-age {
    background-color: var(--primaire-color);
    width: 100%;
    text-align: center;
    margin: auto 0;
}
.divTable.cat-age .divTableCell, .divTable.cat-age .divTableHead {
    border: 1px solid var(--tertiaire-color);
    padding: 6px 2px;
}
.divTable.cat-age .divTableBody .divTableCell {
    font-size: 1.3em;
    color: var(--tertiaire-color)
}
.divTable.cat-age .divTableRow:nth-child(even) {
    background: var(--secondaire-color);
}
.divTable.cat-age .divTableHeading {
    background: #F9F9F9;
    background: -moz-linear-gradient(top, var(--quaternaire-color) 0%, #f9f9f9 66%, var(--secondaire-color) 100%);
    background: -webkit-linear-gradient(top, var(--quaternaire-color) 0%, #f9f9f9 66%, var(--secondaire-color) 100%);
    background: linear-gradient(to bottom, var(--quaternaire-color) 0%, #f9f9f9 66%, var(--secondaire-color) 100%);
    border-bottom: 2px solid #444444;
}
.divTable.cat-age .divTableHeading .divTableHead {
    font-size: 1.5em;
    font-weight: bold;
    color: #B10101;
    text-align: center;
}
div.cat-poids {
    background-color: var(--primaire-color);
    width: 100%;
    text-align: center;
}
.tableau-sexe {
    color: var(--secondaire-color);
    font-size: 1.7em;
    padding-left: 2vw;
    filter: opacity(0.6);
}
.divTable.cat-poids .divTableCell, .divTable.cat-poids .divTableHead {
    border: 1px solid var(--tertiaire-color);
    padding: 6px 2px;
}
.divTable.cat-poids .divTableBody .divTableCell {
    font-size: 1.3em;
    color: var(--tertiaire-color)
}
.divTable.cat-poids .divTableRow:nth-child(even) {
    background: var(--secondaire-color);
}
.divTable.cat-poids .divTableHeading {
    background: #F9F9F9;
    background: -moz-linear-gradient(top, var(--quaternaire-color) 0%, #f9f9f9 66%, var(--secondaire-color) 100%);
    background: -webkit-linear-gradient(top, var(--quaternaire-color) 0%, #f9f9f9 66%, var(--secondaire-color) 100%);
    background: linear-gradient(to bottom, var(--quaternaire-color) 0%, #f9f9f9 66%, var(--secondaire-color) 100%);
    border-bottom: 2px solid #444444;
}
.divTable.cat-poids .divTableHeading .divTableHead {
    font-size: 1.5em;
    font-weight: bold;
    color: #B10101;
    text-align: center;
}
.tableau-vide {
    background-color: var(--primaire-color);
    border: var(--primaire-color) !important;
}
.texte-table {
    background-color: var(--primaire-color);
    position: absolute;
    width: 13%;
    padding-left: 10px !important;
}
.vide-bas {
    border-bottom: 1px solid var(--tertiaire-color) !important;
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableBody { display: table-row-group;}
@media screen and (max-width: 1024px){}
@media screen and (max-width: 768px){}