@keyframes spinner-article {
    0% {
      transform: rotate(0deg);
    }
    20% {
        transform: rotate(5deg);
    }
    40% {
        transform: rotate(-5deg);
    }
    60% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    100% {
      transform: rotate(0deg);
    }
}
.section-encyclo {
    animation: defilement 400ms both;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5vh 0;
}
.article-page {
    margin: 0em 2em 4em 2em;
    width: 36%;
    min-width: 510px;
    background-color: var(--tertiaire-color);
    border-radius: 70px 0px 70px 0px;
    height: 240px;
}
.article-page:hover {
    animation: spinner-article 450ms ease-in-out;
    box-shadow: inset 0em 0em 5em 0em var(--quaternaire-color);
    opacity: 0.9;
    border-radius: 70px 0px 70px 0px;
}
.lien-page {
    margin: 2vh auto;
    align-items: center;
    padding: 0 1.5em;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
.titre-lien {
    width: 40%;
    text-align: center;
    color: var(--primaire-color);
    font-size: 1.4em;
}
.bloc-img {
    width: 40%;
    margin: auto 0;
}
.image-article {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 70px 0 70px 0;
}
@media screen and (max-width: 1024px){}
@media screen and (max-width: 768px){}