@keyframes loader-grade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes spinner-grade {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
@keyframes size-grade {
    0% {
        height: 370px;
    }
    100% {
        height: 750px;
    }
}
.section-grades {
    animation: defilement 400ms both;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 5vh 0;
}
.cadre-technique {
    width: 21%;
    min-width: 320px;
    height: 370px;
    background-color: var(--tertiaire-color);
    padding: 2em 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 70px 0px 70px 0px;
    margin: 0em 2em 4em 2em;
}
.cadre-technique:hover {
    animation: size-grade 450ms ease-in-out;
    box-shadow: inset 0em 0em 5em 0em var(--quaternaire-color);
    opacity: 0.9;
    border-radius: 70px 0px 70px 0px;
    height: 750px;
}
.cadre-img {
    align-self: center;
}
.img-ceinture {
    width: 200px;
    object-fit: contain;
    height: 150px;
}
.cadre-technique:hover .img-ceinture {
    animation: spinner-grade 450ms ease-in-out;
}
.liste-techniques {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.titre-techniques {
    font-size: 2em;
    color: var(--primaire-color);
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 2% 10% 5% 10%;
}
.details-techniques {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    width: 1px;
}
.cadre-technique:hover .details-techniques {
    animation: loader-grade 450ms ease-in-out;
    overflow: initial;
    position: initial;
    height: auto;
    width: auto;
}
.liste-programme {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.titre-programme {
    font-size: 1.5em;
    color: var(--primaire-color);
    filter: opacity(0.8);
    margin: 0;
    padding: 2vh 3vw 0 3vw;
    text-align: center;
}
.programme {
    font-size: 1.2em;
    margin: 0;
    padding: 2vh 2vw 0 2vw;
    text-align: center;
}
.lien-page {
    text-decoration: none;
    color: var(--secondaire-color);
    filter: opacity(0.7);
}
.programme:hover {
    transform: scale(1.4, 1.4);
}
.lien-page:hover {
    color: var(--primaire-color);
    filter: opacity(1);
}