.article-histoire {
    animation: defilement 400ms both;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5vh 1em;
    border-radius: 70px 0px 70px 0px;
    padding: 5vh 10em;
    background-color: var(--tertiaire-color);
}
.titre-article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh 0;
}
.image-titre {
    width: 13vw;
    margin: 0 2vw 0 0;
}
.titre-histoire {
    color: var(--primaire-color);
    font-size: 2.5em;
    border: 5px solid var(--primaire-color);
    border-radius: 50px 0 50px 0;
    padding: 2vh 1vw;
}
.texte-histoire {
    text-align: justify;
    margin: 0 5vw 5vh 5vw;
}
.titre-paraph {
    color: var(--primaire-color);
    font-size: 2em;
    padding-left: 1vw;
}
.texte-paraph {
    font-size: 1.3em;
    text-indent: 1vw;
    line-height: 1.3em;
}
.img-paraph {
    display: flex;
    justify-content: space-between;
    margin: 5vh 0;
}
.image-paragraphe {
    width: 40%;
    object-fit: contain;
    margin: auto;
    border-radius: 30px;
}
.image-paragraphe-bis {
    width: 45%;
    object-fit: contain;
    margin: auto;
    border-radius: 30px;
}
.texte-liste-paraph {
    font-size: 1.3em;
    line-height: 4vh;
}
.liste-paraph {
    padding-left: 1vw;
}
.titre-liste {
    font-weight: bold;
    margin: 0;
}