:root {
    --primaire-color: #B10101;
    --secondaire-color: #181818;
    --tertiaire-color:  #F9F9F9;
    --quaternaire-color: #EDC73E;
    --font-color: #000;
    --background-color: linear-gradient(to bottom, #181818 0%, #ED2527 50%, #F9F9F9 100%);
}
@keyframes spinner-article {
    0% {
      transform: rotate(0deg);
    }
    20% {
        transform: rotate(5deg);
    }
    40% {
        transform: rotate(-5deg);
    }
    60% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    100% {
      transform: rotate(0deg);
    }
}
.liste {
    animation: defilement 400ms both;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5vh 0 0 0;
    border-radius: 70px 0px 70px 0px;
    padding: 5vh 0;
    background-color: var(--tertiaire-color);
}
.liste img {
    height: 200px;
    width: 200px;
    object-fit: contain;
    margin: auto;
}
.reglement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 0em 2em 4em 2em;
    width: 25%;
    height: 350px;
    min-width: 280px;
}
.reglement:hover {
    animation: spinner-article 450ms ease-in-out;
    box-shadow: inset 0em 0em 5em 0em var(--quaternaire-color);
    opacity: 0.9;
    border-radius: 70px 0px 70px 0px;
}
.telecharger {
    font-size: 1.5em;
    text-align: center;
    width: 80%;
    color: var(--primaire-color);
    text-decoration: none;
    padding: 0.5em;
    margin: auto;
}
@media screen and (max-width: 1024px){}
@media screen and (max-width: 768px){}