:root {
    --primaire-color: #ED2527;
    --secondaire-color: #181818;
    --tertiaire-color:  #F9F9F9;
    --font-color: #000;
    --red-color: #EDC73E;
    --background-color: linear-gradient(to bottom, #181818 0%, #ED2527 50%, #F9F9F9 100%);
}
* {
    font-family: 'Rubik', sans-serif;;
}
html {
    box-sizing: border-box;
    background: var(--primaire-color);
    background: var(--background-color);
    margin: 0 3%;
}
header {
    background: url(../assets/img/accueil/banderole-vide.jpg) no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    transform: skew(-10deg, 0deg);
    border-radius: 70px 0px 70px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
}
.cadre-titre {
    transform: skew(10deg, 0deg);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 32.5vh;
}
.logo-jcf {
    margin-bottom: 6vh;
    margin-left: 3vw;
    height: 70%;
    width: 15%;
}
.titre {
    display: flex;
    align-self: center;
    justify-content: center;
    font-family: 'Caesar Dressing', cursive;
    width: 50%;
    font-size: 8vh;
    letter-spacing: 0.3em;
    padding-bottom: 0vh;
    text-align: center;
    margin: 0;
}
.logo-ffjda {
    margin-bottom: 6vh;
    margin-right: 3vw;
    height: 60%;
    width: 10%;
}
nav {
    margin: 2vh 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4vh;
}
.naviguation {
    font-size: 1.5vw;
    text-decoration: none;
    color: var(--red-color);
    font-weight: bold;
    border: 2px solid var(--red-color);
    transform: skew(-10deg, 0deg);
    border-radius: 20px 0px 20px 0px;
    padding: 0.3vh 1.3vw;
    cursor: pointer;
}
.naviguation:hover {
    background-color: var(--red-color);
    color: var(--font-color);
    border: 2px solid var(--tertiaire-color);
}
.social {
    transform: skew(10deg, 0deg);
    padding: 0 0.5vw;
    cursor: pointer;
    height: 100%;
}
.facebook {
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 10px 0px;
    background-color: #FFF;
}
.facebook:hover {
    box-shadow: 3px 3px 5px 3px var(--red-color);
}
.page-active {
    background-color: var(--red-color);
    border: 2px solid var(--tertiaire-color);
    color: var(--font-color);
}
body {
    margin-bottom: 5vh;
}
.section-reglement {
    padding-bottom: 4em;
}
.titre-activite {
    color: var(--tertiaire-color);
    margin: 6vh 2vw;
    font-size: 2em;
}
.titre-media {
    color: var(--tertiaire-color);
    margin: 6vh 2vw;
    font-size: 2em;
}
.liste {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 1em;
    border-radius: 70px 0px 70px 0px;
    padding: 2em;
    background-color: var(--tertiaire-color);
}
.liste img {
    height: 200px;
    width: 200px;
    object-fit: contain;
    margin: auto;
}
.reglement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 2vh 2vw;
    width: 25%;
    height: 350px;
    min-width: 280px;
}
.reglement:hover {
    box-shadow: inset 0em 0em 5em 0em var(--red-color);
    opacity: 0.9;
    border-radius: 70px 0px 70px 0px;
}
.telecharger {
    font-size: 1.5em;
    text-align: center;
    width: 80%;
    color: var(--primaire-color);
    text-decoration: none;
    padding: 0.5em;
    margin: auto;
}