:root {
    --primaire-bg-color: #F9F9F9;
    --secondaire-bg-color: #181818;
    --tertiaire-bg-color:  #ED2527;
    --font-color: #000;
}

/* utilisation des variables
element {
background-color: var(--primaire-bg-color);
}  */

html {
    box-sizing: border-box;
    background-color: var(--primaire-bg-color);
    font-family: 'Rubik', sans-serif;
}
header {
    display: flex;
    flex-direction: column;
    margin: 1% 3%;
}
.encart-titre {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--tertiaire-bg-color);
    border: 5px solid #181818;
    border-radius: 30px;
}
.logo-titre {
    height: 40vh;
    width: 60%;
    object-fit: fill;
    padding-top: 50px;
    border-radius: 100px;
}
.nav {
    padding-top: 20px;
}
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.naviguation {
    text-decoration: none;
    color: var(--tertiaire-bg-color);
    font-size: 1.4em;
    padding: 1vw;
    border-radius: 20px;
}
.naviguation:hover {
    color: #FFF;
    background-color: var(--tertiaire-bg-color);
}
main {
    margin: 0 8%;
}