:root {
    --primaire-color: #ED2527;
    --secondaire-color: #181818;
    --tertiaire-color:  #F9F9F9;
    --font-color: #000;
    --red-color: #EDC73E;
    --background-color: linear-gradient(to bottom, #181818 0%, #ED2527 50%, #F9F9F9 100%);
}
* {
    font-family: 'Rubik', sans-serif;;
}
html {
    box-sizing: border-box;
    background: var(--primaire-color);
    background: var(--background-color);
    margin: 0 3%;
}
header {
    background: url(../assets/img/accueil/banderole.jpg) no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    transform: skew(-10deg, 0deg);
    border-radius: 70px 0px 70px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}
.cadre-titre {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 21vh 0;
}
.titre {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    width: 1px;
}
nav {
    margin: 2vh 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.naviguation {
    font-size: 1.2em;
    text-decoration: none;
    color: var(--red-color);
    font-weight: bold;
    border: 2px solid var(--red-color);
    transform: skew(-10deg, 0deg);
    border-radius: 20px 0px 20px 0px;
    padding: 0.3vh 1.3vw;
    cursor: pointer;
}
.naviguation:hover {
    background-color: var(--red-color);
    color: var(--font-color);
    border: 2px solid var(--tertiaire-color);
}
.page-active {
    background-color: var(--red-color);
    border: 2px solid var(--tertiaire-color);
    color: var(--font-color);
}
body {
    margin-bottom: 5vh;
}
.section-activite {
    padding-bottom: 4em;
}
.titre-activite {
    color: var(--tertiaire-color);
    margin: 6vh 2vw;
    font-size: 2em;
}
.activites {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.article {
    width: 35%;
    background-color: var(--tertiaire-color);
    border-radius: 25px;
    padding: 2em 1.5em;
    display: flex;
    flex-direction: column;
    border-radius: 70px 0px 70px 0px;
}
.lien-equipe {
    align-self: center;
}
.article:hover {
    box-shadow: inset 0em 0em 3em 0em var(--red-color);
    opacity: 0.9;
}
.img-activite {
    width: 100%;
    object-fit: cover;
    height: 25vh;
    border-radius: 25px;
}
h3 {
    font-size: 1.6em;
    color: var(--primaire-color);
    font-weight: bold;
    text-align: center;
}
.description-activite {
    text-align: justify;
    font-size: 1.1em;
}
.heure-activite {
    color: var(--primaire-color);
    font-weight: bold;
    font-size: 1.2em;
}
.prix {
    font-size: 1.1em;
}
strong {
    color: var(--primaire-color);
}
.detail-prix {
    font-size: 1em;
}
