.article-technique {
    animation: defilement 400ms both;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 1em;
    border-radius: 70px 0px 70px 0px;
    padding: 5vh 10em;
    background-color: var(--tertiaire-color);
}
.nom-technique {
    color: var(--primaire-color);
    font-size: 2.5em;
    border: 5px solid var(--primaire-color);
    border-radius: 50px 0 50px 0;
    padding: 2vh 1vw;
    margin-bottom: 8vh;
}
.video-technique {
    border-radius: 5px;
}
.photos-technique {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 10vh 0;
}
.img-technique {
    width: 20%;
}
.fleche-droite {
    font-size: 5em;
    color: var(--primaire-color);
}
.cadre-description {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titre-descriptif {
    color: var(--primaire-color);
    font-size: 2em;
    text-decoration: underline;
    margin-top: 0;
}
.descriptif {
    font-size: 1.3em;
    text-align: justify;
    filter: opacity(0.8);
}